.navber{
background-color: #412567;
width: 1470px;
height: 92px;
display: flex;
justify-content: space-around;

}
.tech-wave{
margin: 25px 20px;
color: white;


}
.wave{
    color: #FD2920;
}
.list-item{
    display: flex;
    gap: 30px;
    color: white;
    margin: 25px;
}
.btn{
padding: 5px;
justify-content: end;
width:135px ;
height:44px ;
background-color: #FD2920;
color: aliceblue;
border-radius: 18px;
margin: 25px 20px;
text-align: center;
justify-items: center;
}
.list-item li{
    list-style: none;
}
.banner-section{
    height:auto;
    width:1470px ;
    background-color: #2A186C;
    background-image: url(./assets/hero-bg.png);
     

}
.bg{
margin-top: 70px;


}
.hero-img{
 margin-left: 625px;
}
.top{
margin-right: 65px;
margin-bottom: 170px;


}
.banner-item{
text-align: center;


}
.banner-title{
font-size: 72px;
font-weight: 700;
color: white;
margin-top: 20px;
margin-bottom: 0px;
}
.banner-dis{
color: white;
margin: 0 ;


}
.banner-button{
margin-top: 30px;
gap: 5px;
border-radius: 20px;


}
.btn-two{
background-color: #FD2920;
border-radius: 20px;
font-size: 16px;
font-weight: 400;
padding: 10px;
color: white;
}
.btn-tre{
border: 2px solid green;
background-color: #2A186C;
padding: 10px;
color: green;
border-radius: 20px;
font-size: 16px;
font-weight: 400;
}
.about{

}
.about-section{
width: 900px;
height: 222;
color: white;
margin-top: 50px;
text-align: center;
margin-left: 250px;
margin-top: 150px;
/*border: 1px solid darkgreen;*/
}
.about-section h1{
font-size: 3rem;
font-weight: 500;

}
.review-flex{
display: flex;
justify-content: center;
margin-top: 50px;
gap: 100px;
}
.review{
color: #00ff88;
/*border: 1px solid green;*/
font-size: 3rem;
font-weight: 800;
margin-bottom: 0px;
}
.review p{
color: white;
font-size: 1.24rem;
margin-top: 0px;
}
.review img{
color: #00ff88;


}
.chose-section{
width: 1470px;
height: 1100px;
background-color: #230E3D;

}
.chose-section h1{
text-align: center;
margin-top: 0px;
color: white;
font-size: 3rem;
font-weight: 500;
}
 chose-section{
display: grid;
grid-template-columns: 150px 1fr 150px;
grid-template-rows: auto;
grid-template-areas: 
     "headphone mobile mobile"
      "headphone  location location"
     "exclusive exclusive recource";
gap: 10px;


 }

.headphone{
width: 380px;
height: 522px;
/*border: 1px solid white;*/
margin-top: 100px;
margin-left: 100px;
box-shadow: 0,0,0,20px;
box-shadow: 3px 3px 3px gray;
border-radius: 20px;
color: white;
}
.headphone h3{
font-size: 24px;
width: 500;

}
.headphone img{
margin-top: 130px;


}
.mobile{
 /*border: 1px solid  ;*/
width: 790px;
height: 267px;
margin-left:00px;
margin-top: 80px;
justify-content: center;
text-align: start;
box-shadow: 3px 3px 3px gray;
border-radius: 20px;
color: white;
}
.mobile h3{
    font-size: 24px;
width: 500;
}

.mobile img {
margin-top: 100px;


}
.location{
/* border: 1px solid  ;*/
width: 790px;
height: 267px;
justify-items: center;
align-items: center;
margin-left: 00px;
box-shadow: 3px 3px 3px gray;
border-radius: 20px;
margin-top: 10px;
color: white;
}
.location h3{

    font-size: 24px;
width: 500;
}
.location img{
margin-top: 100px;


}
.he-mo-lo{
display: flex;
gap: 20px;
}
.mo-lo{
gap: 10px;

}
.exclusive{
/*border: 1px solid gold;*/
width: 790px;
height: 273px;
box-shadow: 3px 3px 3px gray;
border-radius: 20px;
margin-top: 10px;
color: white;
}
.exclusive h3{
    font-size: 24px;
width: 500;
}
.exclusive img{
    margin-top: 100px;
}

.resource{
/*border: 1px solid darkgreen;*/
width: 380px;
height: 273px;
box-shadow: 3px 3px 3px gray;
border-radius: 20px;
margin-top: 10px;
color: white;

}
.resource h3{
    font-size: 24px;
width: 500;
}
.resource img{

    margin-top: 100px;
}
.ex-ro{
display: flex;
gap: 20px;
}
.ex{
margin-left: 100px;

}
.feauter{
width: 1470px;
height:1276px ;
border: 1px solid white;
background-color: #230E3D;
}
.vedio-epi{
width: 1200px;
height: 440px;
display: flex;
gap: 10px;
border-radius: 20px;
margin-left: 100px;

}
.vedio-one{
color: white;
font-size: 24px;
font-weight: 500;
}
.vedio-one p{
font-size: 16px;
font-weight: 300;
}
.time{
color: #00ff88;
font-size: 16px;

}

.vedio-epi iframe{
border-radius: 10px;
width: 350px;
height: 300px;

}
.vedio-two{
color: white;
font-size: 24px;
font-weight: 500;
}
.vedio-two p{
font-size: 16px;
font-weight: 300;
}
.vedio-three{
color: white;
font-size: 24px;
font-weight: 500;
}
.vedio-three p{
font-size: 16px;
font-weight: 300;
}
.episode{
color: beige;
text-align: center;
font-size: 3rem;
font-weight: 500;
}
.meet{
color: gold;
text-align: center;
font-size: 3rem;
font-weight: 500;
margin-top: 100px;

}
.alex-host{
display: flex;
width: 1000px;
height: 280px;

max-width: 1440px;
margin: auto;
border-radius: 20px;
box-shadow: 2px 2px 2px gray;
}
.social img{
gap: 10px;
border-radius: 50%;
}
.alex-host h1{
margin-top: 50px;
font-size: 3rem;
font-weight: 500;
color: white;
margin: 0,0;
}
.alex-host p{

    color: white;
    font-size: 1rem;
}
.alex-meet img{
gap: 10px;
border-radius: 50%;
}
.footer{
    width: 1470px;
    height: 412px;
background-image: url(./assets/footer-bg.png);
text-align: center;
margin-top: 0px;
}
.images{
    display: flex;
    justify-content: center;
}
.footer h1{
    marg
}
